/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET SIMPLIFIE */
/* 
html, body {
  margin:0;
  pading:0;
  font-family: 'Cormorant';
  font-size: 16px;
*/

@font-face {
    font-family: "Cormorant";
    src: url(font/Cormorant_Garamond/CormorantGaramond-Bold.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-BoldItalic.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-Italic.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-Light.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-LightItalic.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-Medium.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-MediumItalic.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-Regular.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf) format('truetype'),
         url(font/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf) format('truetype');
}
@font-face {
    font-family: "Fauna One";
    src: url(font/Fauna_One/FaunaOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Playfair";
    src: url(font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format('truetype'),
         url(font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf)format('truetype');
}
@font-face {
    font-family: "Yeseva One";
    src: url(font/Yeseva_One/YesevaOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: "Graphit";
    src: url(font/Graphit/Graphit-Regular.otf) format('opentype'),
       url(font/Graphit/Graphit-Regular.woff) format('woff');
}
@font-face {
    font-family: "Mathilde";
    src: url(font/Mathilde.otf/mathilde.otf) format('opentype');
}

html { 
  scroll-behavior: smooth; 
}

/*ajout pour slidebar*/
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
/*ajout pour slidebar*/

a {
 text-decoration: none;
  color: inherit;
}

p {
  min-width: 200px;
}



  /* NAVIGATION */

.header {
  display: inline-block;
  width: 100%;
  padding: 25px 6rem;
  background-color: #fff;
  position: relative;
}

.logo {
  float: left;
  padding-left: 2rem;
}

.header,nav {
  float: right;
}

.header,nav ul li {
  display: inline-block;
  padding: 2rem 25px;
}

.header,nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  font-weight: 600;
  letter-spacing: 1.2px;
  font-family: "Fauna One";
  vertical-align: middle;
}
.header,nav ul li:last-child {
  margin-right: 2rem;
  margin-left: 0;
}

.toggle-btn {
  width: 35px;
  position: absolute;
  right: 80px;
  top: 1.8rem;
  display: none;
}

.toggle-btn span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #333;
  float: left;
  margin-bottom: 8px;
}

/*
.nav-list {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  height: 5rem;
}

.nav-item {
  margin-right: 6rem;
  text-transform: lowercase;
  font-weight:600;
  
}

.nav-item a {
  color: #333;
  letter-spacing: 1.2px;
  font-family: "Fauna One";
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 6rem;
}

.nav-item:last-child {
  margin-right: 10rem;
  margin-left: 0;
}
*/


  /* MAIN */

  #banner1 {
    position: relative;
    background: linear-gradient(to right, transparent, 70%, white 90%),
                url("img/pic/retouche_edward-howell-R8HoXig87p8-unsplash2.jpg")center center no-repeat;
    background-size: cover;
    height: 100vh;
    line-height: 1.4em;
    text-align:center;
    align-items: center;
    display: flex;
    width: 100%;
    
  }

.container-brand {
  line-height: 1.4rem;
  margin : 0 10vw 10vh auto;
  align-items:center; 
  display: flex;

   
}

.square {
  width: 20vw;
  height: 20vw;
  background-color: rgba(255, 255, 255, 0.8);
  border:solid 6px #f2d553;
  min-width: 200px;
  min-height: 200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  


}

.square li {
  line-height: 4.2vh;
  margin: 0 auto;

}

.square ul {
  vertical-align: middle;
  padding-top: auto;
  padding-bottom: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/*
h1 {
 font-size: 5.9vw;
}
h2 {
 font-size: 3.0vh;
}
p {
 font-size: 2vmin;
}*/

#brand1 {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  color: #7B3F36;
  font-weight: 100;
  font-style: italic;
  margin-top: 0;
}

#brand2 {
  font-family: "Fauna One", sans-serif;
  font-size: 3vw;
  color: #7B3F36;
}


#brand4 {
  font-family: "Yeseva One", sans-serif;
  font-size: 2vw;
  color: #C75544;
  padding-top: 1.5vw;
}

.container-baseline {
  position: relative;
  display: block;
}
/*
 #banner1:before {       /// Overlay ///
  position: absolute;
  content: "";
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, 70%, white);
}
*/
#banner1:before div {
    width: 120px;
    height: 120px;
  }

#banner1 * {
  position: relative;      /* /// Makes elements display above overlay. /// */
}

main h1 {
  color: #333;
  font-family: 'Fauna One', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.03em;                      
  text-transform: uppercase;
  top: 30%;
}

main h2 {
  color: #333;
  font-family: 'Fauna One', sans-serif;
  font-size: 2vw;
  text-align: center;
  top: 30%;

}

/*
img[src*='text'] {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 400px;
  height: auto;
  position: relative;
}

img[src*='frame'] {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 400px;
  height: auto;
}*/

.draw-item {
  margin: 1rem auto 1rem auto;
  text-align: center;
}

.draw-item img {
  width: 200px;
}
 
img[src*='lemon'] {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 150px;
  height: auto;
}

img[src*='toque'] {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 200px;
  height: auto;
}


/*
.container-edito {
  background-color: #fff;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
}*/

.titre-edito {
  font-family: "Yeseva One", sans-serif;
  color:#f2b33d;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.edito {
  font-family: 'Montserrat', sans-serif;
  color:#333;
  margin: 1rem auto;
  width: 46%;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}

.edito p {
  padding-top: 0.5rem;
}

.bold {
  font-weight: 500;
}

/* MODULE #3 */    /*presentation menus*/

.supporting {              /*fond img presentation menus */
  position: relative;
  background: url("img/pic/brooke-lark-kXQ3J7_2fpc-unsplash_light.jpg")center center no-repeat; padding-top: 80px;
  padding-top: 80px;
  padding-bottom: 6em;
  background-size: cover;
  text-align: center;
  width: 100%;
}

.supporting::before {
  position: absolute;
  display: block;
  top:5%;
  content: "";
  background-color: rgba(256,256,256, 0.80);
  width: 100%;
  height: 90%;
}

/*
.supporting:before {            Overlay
  position: absolute;
  content:"";
  background-color: rgba(256,256,256, 0.75);
  width: 90%;
  height: 88%;
  top: 45px;
  left: 100px;

}*/

.supporting * {
  position: relative;
  width: 100%;
}

.supporting .col {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 400px;
  margin : 2.2em 3em 0 3em;
}

.supporting img {  /* usefull for icon from menu page*/
  height: 32px;
}

.supporting h4 {
  font-family: "Fauna One", sans-serif;
  font-size: 23px;
}

.supporting p {
  font-weight: 400;
  font-family: "Cormorant";
  font-size: 1.4em;
  line-height: 16px;
  padding: 10 20px;
  margin-bottom: 30px;
  color: #333;
}

.supporting a {
  background-color: white;
  color: #333333;
  font-family: 'Fauna One', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  /*text-decoration: none;*/
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #333333; 
  margin: 20px, auto;
  width: 100%;
}

.supporting a:hover {
  background-color: #333;
  color: #fff;
}

.italic {
  font-style: italic;
  font-weight: lighter;
}


.container-neutral {    /*fond blanc de base utilisé pour contact*/         
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 3rem auto;
  text-align: center;
  width: 100%;
}

.container-neutral p {  /*texte du module contact */
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1rem;
  padding: 10 20px;
  margin-bottom: 30px;
  color: #333;
  width: 100%;
}


.container-neutral a {
  background-color: white;
  color: #333333;
  font-family: 'Fauna One', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #333333; 
  margin: 20px, auto;
  width: 100%;
}

.container-neutral a:hover {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.module3 {
  /*background-size: cover; */
  position:relative;
}

/*
.module3:before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  height: 50%;
  color: rgba(256,256,256, 0.2);
}
*/

.module3 * {
  position: relative; /* Makes elements display above overlay. */  
}

.module3 h5 {
  font-size: 1.2rem;
  font-family: "Montserrat";
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8rem;
  min-width: 200px;
}

.container {
  z-index: 10;
  border: 0px;
  margin: 0px;
  color: #333;
}

.deco-scroll {
  background-image: url(img/pic/jonathan-pielmayer-dJe7Vt0dQHM-unsplash_light.jpg); 
  width: 100%;
  height: 26em;  
  background-size: cover;
  background-attachment: fixed, scroll;
}

.deco-scroll2 {
  background-image: url(img/pic/max-delsid-81QFH8r4xog-unsplash_light.jpg); 
  width: 100%;
  height: 20rem;  
  background-size: cover;
  background-attachment: fixed, scroll;
  margin-bottom: 4rem;
}

/* ---------- PROCESS & MENUS ---------- */  

.container-process {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: center;
  align-items: center;
}


.container-process .col { /*manage ONLY each .col and their behavior between them*/
  font-family: 'Cormorant', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  height: 200px;
  width: 800px;
  margin : 0 2rem 2rem 2rem;
  vertical-align: text-top;
  display: flex;
}

.container-process p {
  margin-top: 1.4rem;
}

.container-process img {
width: auto;
height: 180px;
}

/* ---------- INFO LEGALES ---------- */

.plain-text {                       /* !!DANGER ZONE!! container used for / mentions legales, edito and process+menus*/
font-family: 'Montserrat', sans-serif;
margin: 2rem auto 4rem auto;
width: 80%;
font-size: 1.2rem;
line-height: 2rem;
}

.plain-text .col {
  /*font-family: ???;*/ 
  text-align: center;
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-top: 60px;
}



.special p {
  margin-top: 8rem;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1200px;
  margin-bottom: 0;

}

/*
.plain-text img {
  height: 32px;
}
*/


.plain-text li {
  margin-left: 10%;
  margin-top: 1rem;
}

.plain-text h3 {
  margin-top: 0rem;
}

.plain-text h4 {
  font-family: "Yeseva One";
  color: #555;
  font-size: 1.8rem;
  text-align: left;
  margin-top: 2rem;
}

/*
.yellow-background {
    background-color: #f2d553;
    width:100%;  
}
*/



/*----------------------------*/

/* UNIVERSAL STYLES */
  
  h1 {
    color: black;
    padding: 20px;
    font-size: 1,75rem;                     
    font-family: "Cormorant";
    text-transform: uppercase;
    top: 25%;
    
  }
  
  h2 {
    padding: 40px 20px 40px 20px;
    font-size: 22px;
    text-align: center;
    font-family: "Fauna One";
    text-transform: uppercase;
    color:#333;
  }

  h3 {
    font-family: "Yeseva One", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color:#333;
    text-align: center;
    letter-spacing: 0.04em;
    
  }

  h4 {
    font-family: "Cormorant";
    font-size: 1.375rem;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    color:#333;
  }

  h5 {                            /* '&' black) */
    font-family:"Playfair";
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin: .6em;
    vertical-align: baseline;
  }

  h6 {                            /* '&' white) */
    font-family:"Playfair";
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    margin: 0px;
    vertical-align: baseline;
  }

  .container-title h3{
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

.bandeau-image {
  max-height: 30em;
  width: 100%;
}

.deco-page {
  display: flex;
  width: 100%;
  height: 30em;
  align-items: center;
  overflow: hidden;
}

/*
  .deco-page {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }


.contact {
  margin-top: 4em;
  margin-bottom: 4em;;
}

.contact p {
  font-family : "Montserrat", sans-serif;
  line-height: 0.5em;
}

/* PHOTOS SCROLL HORIZONTAL */

.scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.scroll::-webkit-scrollbar {
  display: none;
}

.photo-item {
  height: 350px;
  width: 350px;
  margin-right: 5px;
  flex: 0 0 auto;
}


/*---------- SLIDE BAR ----------*/
/* already written on 102
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}
*/


.container-slider {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 20px 5px;
  color: #f2d553;
  font-size: 2rem;
}

button span {
  position: relative;
  display: inline-block;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.previous:hover span {
  transform: translateX(-10px) scale(1.2);
}

.next:hover span {
  transform: translateX(10px) scale(1.2);
}

.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.slider-nav li {
  display: flex;
  flex: 2;
  text-align: center;
}

.container-slider img {
  max-width: 100%;
  display: none;
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}

.container-slider img.active {
  display: block;
  animation: fadeImg 0.8s;
}

.slider-nav .arrow {
  flex: 0 0 15%;
}

.slider-nav a {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.slider-nav span {
  display: block;
  width: 100%;
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* FOOTER */
  
footer {
  background-color: #f2d553;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  color: #333;
  padding: 20px 0;
  padding-left: 5em;
  padding-right: 5em;
  font-size: 0.8em;
  width: 100%;
  line-height: 1.4em;
  text-decoration: none;
}

.propulsed {
  position: relative;
  bottom: 20px;
  z-index: 11;
  display: block;
  float: right;
}

.beyondframes {
 font-family: "Graphit", sans-serif;   
 font-size: 1.1em;
 margin-left: 0.8rem;
}

.anchor {
  position: fixed;
  bottom: 100px;
  width: 100%;
}
    
.anchor img {
  width: 20px;
  margin-right: 6rem;
  float: right;
}



/*
@media only screen and (max-width: 560px) { 
  .titremodule2 {
    width: 180px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 1099px) { 
  .titremodule2 {
    width: 260px;
  }
}
*/


@media only screen and (max-width: 360px) {
  footer {
   visibility: hidden;
  }

  .supporting .col {
    width: 250px;
    line-height: 1.4rem;
  }

  .supporting .col p {
    line-height: 1.4frem;
  }

} 

@media only screen and (min-width: 361px) and (max-width: 960px) {
  .deco-scroll,
  .deco-scroll2 {
    /*object-fit: cover;
    object-position: bottom;*/
    background-attachment: unset;
  }

  .edito {
    font-size: 1.2rem;
    margin: 1rem auto;
    width: 80%;
    line-height: 2rem;
  }

  p,
  .module3 h5 {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .contact {
    font-size: 0.8rem;
    }

  #module3::before {
    width: 500px;
  }

  #p-infos p,
  #p-infos li {
    font-size: 0.9rem;
    line-height: 1.5rem;
    text-align: justify;
  }

  h3 {
    font-size: 1.4rem;
  }

  .plain-text h4 {
    font-size : 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    line-height: 2rem;
    }

 
  .deco-page {
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  overflow: hidden;
  }

  .container-process p { 
    font-family: 'Cormorant', sans-serif;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .supporting .col {
    width: 250px;
  }

  .supporting .col p {
    line-height: 1.4rem;
  }

  footer {
    line-height: 0.7rem;

   }  

  footer li {
    font-size: 0.6rem;
    text-align: center;
  }

.container {
  flex-direction: column;
  display: flex;
}

  .beyondframes {
    padding-left: 0;
    margin-left:0;
  }

  .propulsed {
    float: left;
    top: 0.07rem;
  }
}

  @media only screen and (min-width: 960px) {
    .square {
      background-color:rgba(255, 255, 255, 0.8)
    }
  }

  @media only screen and (min-width: 1240px) {
    .titremodule2 {
      width: 500px;
    }
    .container-brand {
      margin: 0 12vw 10vh auto;
    }
    .square {
      background-color:rgba(255, 255, 255, 0.5)
    }

    #brand1 {
      padding-bottom: 8%;
    }
  }

  @media only screen and (min-width: 1380px) {
    #brand4 {
      padding-top: 12%;
    }
  }

  @media only screen and (max-width: 991px){
    .toggle-btn{
      display: block;
    }

    .header,nav {
      display: none;
      width: 100%;
      text-align: center;
      border-top: 0.2px solid rgba(0, 0, 0, 0.5);
      padding-top: 20px;
      margin-top: 10px;
      padding-bottom: 10px;
    }

    .header,nav ul li{
      padding: 15px 0px;
      width: 100%;
    }

    .header,nav.show {
      display:block;
    }
  }

  @media only screen and (max-width:1239px) {
    .titremodule2 {
      width: 400px;
      text-align: center;
    }  
    #brand1 {
      font-size: 180%;
    }
    #brand2 {
      font-size: 190%;
    }
    #brand4 {
      font-size: 130%;
    }
  }
